<tr>
    <td align="center"><?= $id; ?></td>
    <td align="center"><?= $IME; ?></td>
    <td align="center"><?= $AUTHOR; ?></td>
    <td align="center"><?= $TYP; ?></td>
    <td align="center"><?= $GOD; ?></td>
    <td align="center"><?= $IZD; ?></td>
    <td align="center"><?= $STR; ?></td>
    <td align="center"><?= $GENRE; ?></td>
    <td align="center"><?= $TAG; ?></td>
    <td align="center">
    <a href="edit.php?id=<?= $id2; ?>">Edit</a>
    </td>
    <td align="center">
    <a href="delete.php?id=<?= $id3;?>">Delete</a>
    </td>
</tr>

